@font-face {
	font-family: "Norse";
	src: url("./Norse-Bold.woff2") format("woff2"),
		url("./Norse-Bold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}

.hello {
	color: red;
	font-family: "Norse";
	background: url("./icon.png");
}
